@charset "UTF-8";

body { 
	width: 100%;
    height: 100%;
    margin: 0;
	padding: 0;
	overflow: hidden;
}

div.gid-result { 
	width: calc(100%);
	overflow-x: hidden;
	display:  flex;
	position:relative;
	text-overflow: ellipsis;
	overflow-y: auto;
	height: 1.1rem;
}

div.col-label{ 
	border: thick;
	border-color: black;
	overflow:hidden;
	text-align: left;
}

div.div-result{ 
	height:60vh;
	border: thin;
	overflow-y:auto;
	overflow-x:hidden;
}
